/*
* Developer: 
** Rilind Pozhegu
*/

/*====================*/
/*       FONTS        */
/*====================*/
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/Montserrat-ExtraBold.otf');
 }
 @font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.otf');
 }
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../fonts/Montserrat-ExtraLight.otf');
 }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }
.active{
  color: white !important;
}

/*======================*/
/*       My Style       */
/*======================*/

/*    HEADER     */

.section1-about {
  background-image: url('../images/about-bg-01.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 20%;

}

.about-section1-text {
  padding: 25% 0px 20%;
}

.about-section1-text h3 {
  color: white;
  font-family: "Montserrat-Bold";
  font-size: 35px;
}


.about-section1-text p {
  color: white;
  opacity: 0.7;
  font-size: 18px;
  padding-bottom: 20px;
}

.about-section1-text button {
  color: white;
  border-radius: 15px;
  width: 150px;
  height: 30px;
  background-color: #1f80aa;
  border: none;
}




/* Section 2 */


.section2 {
  padding: 80px 0px;
}

.section2 img {
  width: 350px;
}
.section2 p {
  margin-top: 20px;
}


/* Section 3 */

.section3 {
  padding-bottom: 50px; 
  text-align: center;
}

.section3 img {
  width: 100%;
}
.section3-icons-t {
  padding: 10px 0px;
}
.section3-icons-t img {
  width: 80px;
  margin-bottom: 10px;
}
.section3-icons-t h4 {
  color: #ea3f52;
  font-family: "Montserrat-Bold";
}

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }
    .section2 img {
      width: 250px;
    }
}
