/*====================================*/

/*        -EMIRATES GRAPHIC-          */

/*        emiratesgraphic.com         */

/*====================================*/




/*====================*/
/*       FONTS        */
/*====================*/


@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/Montserrat-ExtraBold.otf');
 }
 @font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.otf');
 }
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../fonts/Montserrat-ExtraLight.otf');
 }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }


/*
///////////////////////////////////////////////////
1.0 BASE
///////////////////////////////////////////////////
*/
body {
  font-family: "Montserrat-ExtraLight";
  font-size: 16px;
  line-height: 26px;
  color: gray;
  font-weight: 400;
}
a {
  color: #1784fb;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
}

/* 
///////////////////////////////////////////////////
3.0 COVERS 
///////////////////////////////////////////////////
*/

.fh5co-cover-intro {
  padding: 0px 0px;
}

.fh5co-cover {
  position: relative;
  min-height: 300px;
}
.fh5co-cover .fh5co-cover-text .full-height {
  display: table;
  min-height: 500px;
}


/* COVER STYLE #1 */
.fh5co-cover-style-1 {
  background-image: url(../images/blog-bg-01.png);
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 20% 20%;
  /*height: 100vh;*/
}
.fh5co-cover-style-1 img {
  width: 550px;
}
.header-buttons {
  padding: 30px 0px;
}
.header-buttons button {
  width: 250px;
  background: transparent;
  border-radius: 30px;
  border: white solid 2px;
  padding: 5px 10px;
  color: white;
}
.headerbutton_rad1 {
  text-align: center;
}
.headerbutton_rad1 button:active {
  outline: none;
}
.headerbutton_rad1 button:focus {
  outline: none;
}
.headerbutton_rad2 {
  text-align: left;
}

.social_media-buttons-desktop ul {
  padding: 0px;
}

.social_media-buttons-desktop i {
  color: white;
  font-size: 20px;
  padding: 0px 10px; 
}

.fh5co-cover-intro h1{
  font-family: "Montserrat-Bold";
  font-size: 60px;
  color: white;
}
/*============================*/
/*         SECTION 1          */
/*============================*/
.section1-blog-page {
  padding: 30px 0px;
}

.section1-blog-page img {
  margin: 30px 0px;
}
.section1-blog-page p {
  padding: 10px 0px;
}

.full-height {
  padding: 70px 0px;
}