/*====================*/
/*       FONTS        */
/*====================*/
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/Montserrat-ExtraBold.otf');
 }
 @font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.otf');
 }
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../fonts/Montserrat-ExtraLight.otf');
 }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }

.small-padding {
  padding: 0px 3px;
}
/*===========================*/
/*        My Changes         */
/*===========================*/

.contact-section {
  padding: 80px 0px;
  text-align: center;
  background-image: url('../images/contact-section-bg-01.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-section h4 {
  color: white;
  opacity: 0.7;
}
.contact-section h3 {
  margin-top: 3px;
  color: white;
  font-family: "Montserrat-ExtraBold";
  font-size: 30px;
  padding-bottom: 30px;
}
.input-forms input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin: 5px 0px;
  border: none;
}
.input-forms input:active {
  outline: none;
}

.input-forms input:focus {
  outline: none;
}

.input-forms textarea {
  font-size: 15px;
  padding: 10px;
  width: 100%;
  margin: 5px 0px;
  border-radius: 10px;
  border:none;
}

.input-forms textarea:active {
  outline: none;
}

.input-forms textarea:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.51);
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.51);
  font-size: 12px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.51);
  font-size: 12px;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.51);
  font-size: 12px;
}

.contact-section button {
  height: 40px;
  border: solid 1px white;
  background: transparent;
  color: white;
  width: 170px;
  border-radius: 10px;
  margin: 10px 0px;
  text-align: left;
  padding-left: 30px;
}
.contact-section button:focus {
  outline: none;
}

.contact-section button:active {
  outline: none;
}

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }

    .contact-section h3 {
      font-size: 23px;
      padding-bottom: 15px;
    }
}



/*Go On top BTN*/

.cd-top i {
  color: white !important;
  font-size: 35px;
}

.cd-top {
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  /*text-indent: 100%;*/
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}